body{
  text-align: center;
  background-color: black;
}
h1{
  color: white;
}
#movie{
  color: white;
  border: 2px solid yellow;
}
#anime{
  color: white;
  border: 2px solid yellow;
}
p{
  color:white;
}
